.btn-danger{
    color: #000;
    background-color: #f1f86b;
    border-color: #f8f66b;
  }


.btn-danger:hover {
    color: #000;
    background-color: #eff84a;
    border-color: #00000049;
}

.btn-danger:not(:disabled):not(.disabled):active, .btn-danger:not(:disabled):not(.disabled).active, .show > .btn-danger.dropdown-toggle {
    color: black;
    background-color: #fcdd2f;
    border-color: #00000049;
}

.btn-danger:not(:disabled):not(.disabled):active:focus, .btn-danger:not(:disabled):not(.disabled).active:focus, .show > .btn-danger.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.300);
}

.btn-danger:focus, .btn-danger.focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.38);
}

.renk{
    color:#d8c489;
}

.hrenk{
    border-color:#d8c489;
}