.container{
    margin-left:auto;
    padding:50px;
    background-color:#ffffff4a;
    position: relative;
}

h5{
    color:red;
    font-weight: bolder;
}

p{
    color:black;
    font-weight: 700;
}

.bg-custom{
    background-color: #d8c489;
    color: black;
    font-weight: bolder;
}

.btn-custom{
    background-color:#d8c489;
    color: black;
}