.container{
    margin-left:auto;
    padding:50px;
    background-color:#ffffff4a;
    position: relative;
}

.btn-custom{
    background-color:#d8c489;
    color: black;
}

.yaz{
    color:#d8c489;
}

.card-header{
    color:#d8c489;
}