<div class="container">
    <p style="font-weight: bolder">BU PROJE SAKARYA ÜNİVERSİTESİ BİLGİSAYAR MÜHENDİSLİĞİ BÖLÜMÜ BİTİRME PROJESİ OLARAK GERÇEKLEŞTİRİLMİŞTİR.</p>
    <div class="row">
      <div class="col-md-6">
          <div class="card text-white bg-dark mb-3">
              <div class="card-header">Turgut Yazıcı</div>
              <div class="card-body">
                <p class="yaz" style="font-family:Arial, Helvetica, sans-serif">turgutyazici@gmail.com</p> 
                <p class="yaz">Backend Developer</p> 
              </div>
          </div>
      </div>
      <div class="col-md-6">
          <div class="card text-white bg-dark mb-3">
              <div class="card-header">Emre Can Biçici</div>
              <div class="card-body">
                <p class="yaz" style="font-family:Arial, Helvetica, sans-serif">emrecb1907@gmail.com</p>
                <p class="yaz">Frontend Developer</p>
              </div>
            </div>
        
      </div>
  </div>

  <div class="row justify-content-md-center" style="padding-top:15px">
      <button class="text-center" style="margin-bottom:15px; font-weight: bolder" routerLink="/" class="btn btn-custom">Ana Sayfaya Dön!</button>
  </div>
  
    
</div>
