<nav class="navbar navbar-expand-lg navbar-light bg-transparent containNavBar">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
        aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" routerLink="">
        <img src="../assets/logo.png" class="log" alt="logo">
    </a>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mt-2 mt-lg-0">
            <li class="nav-item navbaritemfont" x>
                <p>{{UserDetails?.nickname}}</p>
            </li>
            <li class="nav-item">
                <p>LV: {{this.globalService.level}}</p>
            </li>
            <li class="nav-item">
                <p>Mana:</p>
            </li>
            <li class="nav-item progress-edit">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped" role="progressbar" [ngStyle]="{'width': globalService.manax}"
                        style=" color:black; font-weight: bold; font-size: 0.9vw" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">{{this.globalService.manax}}</div>
                </div>
            </li>
            <li class="nav-item">
                <p>Exp:</p>
            </li>
            <li class="nav-item progress-edit">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" [ngStyle]="{'width': globalService.leveloranwidth}"
                        style="color:black; font-weight: bold; font-size: 0.9vw" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">{{this.globalService.leveloran}}</div>
                </div>
            </li>
            <button class="brownbutton" (click)="logout()">Çıkış Yap!</button>
        </ul>
    </div>
</nav>


<router-outlet></router-outlet>

<div class="footer">
    <div class="row">
        <div class="col-md-3">
            <li class="footerlink">
                <a class="nav-link" routerLink="haberler">HABERLER</a>
            </li>
            <li class="footerlink">
                <a class="nav-link" routerLink="sikcasorulansorular">S.S.S</a>
            </li>
            <li class="footerlink">
                <a class="nav-link" routerLink="kurallar">Kurallar</a>
            </li>
        </div>
        <div class="col-md-3">
            <li class="footerlink">
                <a class="nav-link" routerLink="medya">Medya</a>
            </li>
            <li class="footerlink">
                <a class="nav-link" routerLink="medya">Duvar Kağıtları</a>
            </li>
            
        </div>
        <div class="col-md-3">
            <li class="footerlink">
                <a class="nav-link" routerLink="hakkimizda">Hakkımızda</a>
            </li>
            <li class="footerlink">
                <a class="nav-link" routerLink="iletisimformu">İletişim Formu</a>
            </li>
        </div>
        <div class="col-md-3">
            <li class="footerlink">
                <a class="nav-link" routerLink="knightrank">ŞÖVALYE SIRALAMASI</a>
            </li>
            <li class="footerlink">
                <a class="nav-link" routerLink="vipstorage">VIP STORE</a>
            </li>
            

        </div>


    </div>
</div>






































<div id="loadingWrapper">
    <h2>İşleminiz Yapılyor...</h2>
    <div class="sk-folding-cube">
        <div class="sk-cube1 sk-cube"></div>
        <div class="sk-cube2 sk-cube"></div>
        <div class="sk-cube4 sk-cube"></div>
        <div class="sk-cube3 sk-cube"></div>
    </div>