<div class="center-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-10 mx-auto">
          <div class="card-group panel-outer">
            <div class="card p-4">
              <div class="card-body">
                <form novalidate >
                  <h1>Şifre Yenile</h1>
                  <p class="text-muted">Şifre Yenile</p>
                  <div class="input-group mb-4 form-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-lock"></i></span>
                    </div>
                    <input type="password" class="form-control" id="password" [(ngModel)]="resetobje.password" required name="password" placeholder="Şifre"
                      >
                  </div>

                  <div class="input-group mb-4 form-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-lock"></i></span>
                    </div>
                    <input type="password" class="form-control" id="password2" [(ngModel)]="password" required name="password2" placeholder="Şifre Tekrar"
                      >
                  </div>
                  <div class="row">
                    <div class="col-6 form-group">
                      <button type="submit" (click)="sifirla();"  class="btn btn-primary px-4">Şifreyi Yenile</button>
                    </div>



                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
