<div class="container">
  
<h1>1. Dünya'nın Yaratılışı ve Savaşın Kökleri</h1>
<p>
  Cesaretle savaşırsınız, onurla savaşırsınız... Peki aslında 
  ne için savaşırsınız? </p>
  <p>
  Savaşımızı, şövalyelerimizin neden savaştığını anlayabilmek için 
  çoğunluğun unuttuğu bazı gerçekleri yeniden gün 
  ışığına çıkarmalıyız. İçinde bulunduğumuz savaşın kökleri 
  evrenin başlangıcına dek uzanıyor. Ne de olsa dünya hep 
  bugünkü gibi bir yer değildi.</p> 
  <p>
  Bizim zaman diye adlandırdığımız dönemden önce yalnızca mistik bir boşluk vardı ve bu boşlukta çok eski, hiçbir özel şekli olmayan enerjiler dolanıyordu. Bilinmeyen bir sebeple bu eski enerjiler yavaş yavaş biçim kazanmaya başladı. Bu cisimleşme/maddeleşme sırasında çok özel bir güç bilinç kazandı.
  </p>
  <p>
  Logos adındaki bu gücün tek amacı kendi yansımasını yaratmaktı. Yüksek dağları, derin vadileri ve masmavi gökyüzü ile Carnac dünyasına ilk şekil veren o oldu. Sonra, kayaları yontması, vadileri ve okyanusları doldurması için suyu getirdi. En sonunda dünya mistik boşlukta turkuaz renkli bir mücevher gibi salınan muhteşem bir yere dönüştü. Ancak, Logos tatmin olmamıştı. Yarattığı nehirlerin, okyanusların ve göllerin ihtişamına tanıklık edecek birilerinin olması gerektiğini hissediyordu. Kayalar ve dağlar tek başlarına görkemliydi fakat hiçbirinde hayat yoktu. 
  </p>
  <p>
  Logos, dağları yapmak için kullandığı enerjiden artanlar ile hayatı yarattı. Artık suda yüzen balıklar ve toprakta yetişen ağaçlar vardı. Ardından yeryüzünde hayvanlar belirdi ve gökyüzünde kuşlar süzülmeye başladı. Logos, son olarak, kendisine benzeyen insanları yarattı. İnsanlar, Logos gibi, dünyayı kendi ihtiyaçlarına göre şekillendirme gücüne sahipti. 
  </p>
  <p>
  Bir süre herşey yolunda gitti. Logos, insanlar onu Tanrı diye adlandırıyordu, durumdan memnundu; yarattıkları ise kendilerine bahşedilen dünyanın tadını çıkarıyordu. 
  </p>
  <p>
  Oysa yakında hepsinin huzuru bozulacaktı. 
  </p>
  <p>
  Yansıması olan insanları yaratma telaşı içinde Logos, bir enerji parçasına biçim vermeyi atlamıştı. Unutulan bu parça, yüzyıllar boyunca, karanlık bir vadide güzel bir cisme dönüştürüleceği anı bekledi durdu. 
  </p>
  <p>
  Başlarda oldukça sabırlıydı. 
  </p>
  <p>
  “Logos’un benim için özel bir planı vardır.” diye düşünüyordu. “Belki de beni neye dönüştüreceğine henüz karar vermedi.” 
  </p>
  <p>
  Uzun bekleyişin sonunda, biraz ilgi gördükten sonra terkedilen her bilinçli varlığın yaptığı gibi, sabrı tükendi ve öfkesi kabarmaya başladı. Logos’unkine benzeyen bilinci sayesinde, unutulan bu enerji parçası yavaş yavaş kendine biçim vermeyi başardı. Üstelik insanlar gibi sınırlı bir şekli yoktu, aksine her değişimde insanların sınırlarının ötesine geçiyordu. Değiştikçe daha da güçleniyor, unutulduğu için duyduğu öfke gitgide büyüyordu. 
  </p>
  <p>
  Logos, Unutulan’ı nihayet hatırladığında çok geç olmuştu. Unutulan, kendine Pathos adını veren bir varlığa dönüşmüştü. Logos’un gücüne kafa tutacak kadar kuvvetliydi, fakat içinde ondaki merhametin zerresini taşımıyordu. Aksine, Logos’un özenle yarattığı herşeyi mahvetmek için yanıp tutuşuyordu. İntikam almak uğruna yaptığı ilk hamle dünyaya Değişim getirmek oldu. 
  </p>
  <p>
  Pathos’un getirdiği Değişim yüzünden dört mevsim, gece ile gündüz, hayat ve ölüm ortaya çıktı. Pathos için bu yeterli değildi, kendisinin duyduğu acıyı ve terkedilmişlik hissini Logos’un da tatmasını istiyordu. Pathos, bir avuç kumu aldı; her bir kum tanesine, ileride insanlığın günahları olarak anılacak, en karanlık duygu ve dürtüleri doldurdu. Ardından her bir zerreyi alıp insan doğasına ekti. İnsanlar Logos’tan uzaklaşmaya ona yüz çevirmeye başladı. Hükmetmeye ve yok etmeye yarayan hırsı, şehveti ve arzuyu tatmışlardı.
  </p>
  <h1>
  2. Tanrıça'nın Tebessümü
</h1>
  <p>
  Pathos’un ölümü getirmesiyle Logos’un dünyanın 
  görkemli varlığının sonsuza dek süreceği yönündeki hayali yıkıldı. 
  Çünkü, Logos’un sadece yaratma gücü vardı, yenileme 
  gücü yoktu. Böylece, Pathos’un öyle bir niyeti olmadığı halde, 
  hayat ve ölüm arasındaki ayrım yeni bir varlığın ortaya 
  çıkmasına neden oldu. Ölenlerin geride bıraktığı enerjilerden 
  yeni hayatlar yaratma görevi yeni tanrıya, Hayat Tanrıçası 
  Akara’ya verildi. 
  </p>
  <p>
  Akara her canlı ile devamlı bir ilişki içindeydi. Yaşlanıp ölenleri gözetir, onların yerini gençlerin almalarını sağlardı. Dünya üzerindeki canlıları Logos’un anlayamadığı bir şekilde anlamayı başarıyordu. Kendisine hiç saygı göstermedikleri halde canlıları ona aitlermiş gibi seviyordu. Zaman geçtikçe, üzüntü içindeki Logos’un onlardan uzaklaştığını fark etti; yarattıklarının değiştirilmesine özellikle ölmesine katlanamayan Logos onları ihmal etmeye başlamıştı. Akara, yaratıcı rehberlik etmediği sürece hayatın verimli yaşanamayacağını biliyor, üzülüyordu. 
  </p>
  <p>
  Bazen insanlar şöyle dua ediyordu: 
  </p>
  <p>
  Biz senin çocuklarınız,
  <br>
  Unutmuş olsan da 
  <br>
  Terketme bizi asla. 
  </p>
  <p>
  “Belki,” diye düşündü Akara. “Belki bu çocuklara kendi çocuklarım gibi sahip çıkmalıyım.” 
  </p>
  <p>
  Logos, Akara’nın niyetini anladı; yarattıklarını tamamen kaybetmekten korktuğundan sorumluluklarını yerine getireceğine dair Akara’ya söz verdi. Tanrıça bir süreliğine rahatlamıştı. 
  </p>
  <p>
  Tam Logos sözünü tutmak üzere işe koyulduğunda Pathos yeniden ortaya çıktı. Bu defa, Logos’un en başta yarattıklarından birini, Logos’un üzerinde ilk kez rüzgarı hissettiği, bulutlara ilk kez dokunduğu dağları yok etmeye karar vermişti. Pathos, Carnac’ın çekirdeğinin derinliklerinden ateşi çağırdı; çok sevdiği dağlarının yıkılması karşısında dehşete kapılan Logos Pathos’u durduramadı. Yok edici alevler ormanları tutuşturmuş, nehirleri kurutmuştu. İnsanlar tanık oldukları felaket karşısında çaresizdi, pek çoğu hayatını kaybetmişti. 
  </p>
  <p>
  Logos derin bir kederle yeniden kabuğuna çekildi, artık ona ait olmayan dünya ile ilgilenmiyordu. 
  </p>
  <p>
  Bu defa Akara, Logos’un sorumluluğunu üstlenmekte kararlıydı. Ancak Logos’un kolay vazgeçmeyeceğini biliyordu. Hayatın sürdürülebilmesi için, dünyayı zayıf yürekli Logos ve acımasız Pathos’tan kurtarmak üzere bir komplo düzenledi. 
  </p>
  <p>
  Akara’nın bu arzusu yeni bir Tanrı’nın yaratılmasına neden oldu: Cypher. Yeni Tanrı, yıkım ve aldatmacadan başka bir şey bilmiyordu. 
  </p>
  <p>
  Akara, Logos’un yanına gidip ona yeni Tanrı’dan bahsetti. “Yok etme gücü var, ne daha fazlası ne daha azı. Onun gücünü kullanarak Pathos’tan kurtulabilirsin.” 
</p>
<p>
  Akara’nın anlattıklarını dinleyen Logos sevinç içinde Cypher’ı aramaya koyuldu. Dünyayı yeniden eski haline getirme hayalleri ile oradan uzaklaşırken Tanrıça’nın yüzünde beliren tebessümü göremedi.
</p>
<h1>
  3. Hayat'ın Düzenbaz Meyveleri
</h1>
<p>
  Cypher, Logos’un beklediği gibi bir Tanrı çıkmadı. Yine de 
  Logos, Hayat Tanrıçası’na güvenip Cypher’dan 
  yardım istedi. 
</p>
<p>
  Elbette Logos, Akara’nın çoktan Cypher’a gidip ona diğer 
  iki Tanrı’yı nasıl yok edeceğini anlattığından haberdar 
  değildi. “Önce Pathos’un öldürmelisin.” diye Cypher’a tavsiyede 
  bulundu. “Logos idealist ve zayıf olandır; onu daha sonra 
  da öldürebilirsin.” 
</p>
  <p>
  Pathos ile yapılacak karşılaşma için hazırlanmaya başlayan Logos etrafındaki bulutları toplayarak bir kılıç yaptı. Buluttan kılıcı o kadar güzel biçimlendirmişti ki keskin aletin öldürücü özelliği adeta maskelenmişti. Yaptığı kılıcı Cypher’a verdi ve birlikte Pathos’un yaşadığı Carnac’ın en karanlık vadisine doğru yola koyuldular. 
</p>
<p>
  Onlar yaklaşırken Pathos gölgelerin arasından sıyrıldı ve ağaçtan yapılmış sihirli mızrağını üstlerine fırlattı. Mızrak adeta çevresine hayat enerjisi yayıyor, beraberinde sükunet taşıyordu. Böyle bir silahı ancak bir tek kişi yapabilirdi, silahı yapan Tanrıça onları uzaktan seyrediyordu. 
</p>
<p>
  Dövüş çok hızlı ve şiddetli sürüyordu. Dövüşçüler tek kelime etmeden mücadele ediyordu. Cypher parlak kılıcını havaya kaldırdı, Pathos ardı ardına gelen hamleleri savuşturmayı başardı. Dövüşü izleyen Logos, Pathos’un hak ettiği sona kavuşması için sabırsızlıkla bekliyordu. Silahları ile yenişemeyen iki Tanrı, zafer kazanmak için özel güçlerini kullanmaya başladı. Önce Pathos, güneşi ve yıldızları ortadan kaldırarak dünyayı karanlığa boğdu. Cypher bir an için kör oldu. Pathos mızrağını ileri fırlattı, rakibinin omzunu sıyırıp geçen mızrak yeşil bir ışık saçtı. Mızraktan yayılan yeşil ışık Cypher’ın görmesine ve Pathos’un sol kolunu kesmesine yetti. 
</p>
<p>
  Pathos acıyla bağırarak dizlerinin üzerine çöktü; yaşam gücünü kaybediyordu. Cypher ve Logos zafer sevinciyle birbirlerine bakarken Pathos ve Cypher arasında belli belirsiz bir değişim gerçekleşti. Dış görünüşleri değişmemiş olsa da yaşam güçleri ikisinin bedeni arasında yer değiştiriyordu. Pathos, -sihirli değiştirme yeteneği- sayesinde artık Cypher’ın bedenindeyken Cypher’ın ruhu az evvel yaraladığı mağlup bedene hapsolmuş yatıyordu. 
</p>
<p>
  Çok acı çekmesine rağmen Cypher’ın ruhu ölüme direniyordu. Mızrağı hızla fırlattı ve daha önce kendisine ait olan bedene sapladı. O sırada Pathos beden değiştirmeyi akıl edişini kutlamakla meşgul olduğundan mızrağı fark etmedi. Sihirli mızrak Tanrı’nın kalbine saplanıp onu yok etti. 
</p>
<p>
  Pathos ölmüştü, Cypher ise ölmek üzereydi. Cypher, artık güçlerinin yok etmekle sınırlı olmadığını hissediyordu. Ruhların değişimi nedeniyle, biraz çaba gösterirse o da bir zamanlar Pathos’un yapabildiği gibi değişime yol açabilirdi. Yeni yeteneğiyle önce kesik koluna odaklanarak akan kanı durdurdu. Daha sonra tendon ve kemiklere yoğunlaşarak onların büyümesini ve yeniden kesilen uzvun şeklini almasını sağladı. 
</p>
<p>
  Tamamen iyileşince ayağa fırladı, yeni gücünü herkesin duyması için bağırdı: “Yeniden doğdum! Artık eşsizim, korkun benden!” 
</p>
<p>
  Güç gösterisinde bulunmak için vadiyi paramparça ederek bir tapınak inşa etti. Ancak bu tapınak taştan değil camdan yapılmıştı. Keskin kenarları dört bir yana ışık saçıyordu. 
</p>
<p>
  Zamanla insanlar tapınağa hayranlıklarını sergilemek, yaratıcısı yeni ve güçlü Pathos-Cypher’a saygılarını göstermek amacıyla buraya akın ettiler.
</p>
<h1>
  4. İnsanlığın Kaçışı ve El Morad
</h1>
<p>
  Pathos ve Cypher arasındaki dövüş ve Pathos- Cypher 
  varlığının ortaya çıkışı Carnac’ta birtakım değişimlere yol 
  açtı. Çiçekler kokularını kaybetti, ani mevsim değişiklikleri 
  baş gösterdi ve yeraltı suları kahverengi adeta paslı 
  akmaya başladı. Üstelik yakında başka değişiklikler 
  de görülecekti. 
</p>
  <p>
  Bu değişikliklere yol açan Pathos-Cypher’ın yaptıkları değildi. O, insanların kendisine gösterdiği ilginin tadını çıkarmakla meşguldü. 
</p>
<p>
  Böylece aradan yıllar geçti ve insanlık 6 büyük krallığa bölündü: Çölde kurulu savaşçı Hellsgarem, çelik gemileri ve limanları ile Bluegrant, beyaz şehir Anrdeam, muhteşem mahsulleri ile ünlü Planisad, ticaret merkezi Brisbia ve tüm krallıkların en uzak ucunda bulunan El Morad. 
</p>
<p>
  Krallıklar oluşurken, dünyada meydana gelen değişimler yalnızca mevcut yaratıkları değil başka şeyleri de etkiledi. Kurda ve ayıya benzeyen ama onlardan çok daha korkunç ve vahşi olan devasa yaratıklar görülmeye başlandı, üstelik sayıları her geçen yıl artıyordu. Daha şaşırtıcı olanı da taş ve sihirden yaratılmış varlıklardı. En kötüleri ise tüm hayatı kendi anladıkları düzeye (ölmemeye) getirmeye çalışan zombilerdi. 
</p>
<p>
  Cehennemden gelen yaratıkların sayısı o kadar artmıştı ki yüksek duvarlar ile çevrili, sadık muhafızlarla korunan şehirler bile onlara karşı koyamıyordu. İlk düşen krallık Planisad oldu, böylece yiyecek sıkıntısı baş gösterdi. Kısa süre sonra, Brisbia ve Arrdeam kaybedildi. Ulu barbar krallığı Hellsgarem bile hayatta kalamadı, krallığın düşüşünü görmektense şehri kendileri yakmayı tercih ettiler. Buradan kurtulanlar, şehirlerinden kaçıp El Morad’a gitmekte olan Bluegrant gemilerine sığındılar. 
</p>
<p>
  El Morad kralı Manes sığınmacıları koşulsuz kabul etti. Gücü yerinde olanlar, henüz saldırıya uğramayan tek şehrin savunmasını kuvvetlendirmek üzere orduya alındılar. Yeni savaş alanları inşa edildi, gerekli malzemeler temin edildi ve yeni silahlar yapıldı. El Morad halkı şehirlerini kaybetmemeye kararlıydı, kendi şehirlerini bırakıp kaçanlarsa yeni evlerini bağlılıkla savunmaya hazırdı. El Morad insanlığın son kalesiydi. Kaybedilirse insanlığın sonu olurdu.
</p>
<h1>
  5. Şovalyelerin Yükselişi
</h1>
<p>
  
  Yedi uzun yıl boyunca ölmeyen yaratıklar ve canavarlarla 
  savaştılar. Kral Manes, yıllarca dualarına kulak vermeyen, 
  olanlara seyirci kalan tanrılara yakarıp durdu. İnsanlar hala 
  direniyor hatta güçlenmeye başlıyordu. 
</p>
<p>
  Savaşın ilk iki yılı geçtiğinde El Morad sakinleri saldırılara 
  alışmıştı. Direnişleri sağlamdı, savaş tekniklerini 
  geliştirmişlerdi. Sonunda, güvenli duvarların arkasından 
  çıkmaya bile cesaret ettiler. Onlara metal ve ağaç sağlayan şehrin ardındaki dağların arasından geçitler açıp silahlı birliklerini ormanlara gönderdiler ve toprağı ekmeye başladılar. Başlangıçta ürün yetiştirmek zor oldu, ancak zamanla insanları dağlara veya yeraltına yerleştirerek mahsul ekimi için şehrin güvenli duvarları arasında boş alanlar yaratmayı başardılar. 
</p>
<p>
  Üçüncü yılda, artık tecrübe kazanmış olan askerler sadece saldırıları geri püskürtmeyi beklemekten vazgeçip canavarları avlamaya başladılar. Savaşçılar evlerine kahramanlık ve zafer hikayeleri ile dönüyordu. Bu savaşçılar daha sonra biraraya gelerek Şövalyeler olarak bilinen birliği oluşturdular. Şövalyeler, El Morad dışında yaşar ve hayatlarını görevlerine adardı, bazıları sihir yapmayı ve şifa ilmini bile öğrenmişti. Böylelikle yıllar geçti ve şövalyeler güçlenerek varlıklarını sürdürdü. 
</p>
<p>
  Savaşın yedinci yılının son gecesinde, olağanüstü bir şey yaşandı. El Morad üzerine kızıl yağmur yağmaya başladı. Uzaklarda beliren yeşil bir sis tabakası şehre doğru sürükleniyordu. Ürkütücü bir ses duyuldu, insanlar ilk kez kapılara doğru kaçmaya başladılar. Hiçbiri korktuğunu inkar edemezdi. 
</p>
<p>
  Kral Manes son bir umutla tanrılara yalvardı. 
</p>
<p>
  Tanrılardan biri sesine kulak verdi. “Benden dileğin nedir?” 
</p>
<p>
  “Halkım her gün ölüyor. Lütfen bize yardım edin.” 
</p> 
<p>
  “Yardıma ihtiyacınız yok.” 
</p>
<p>
  “Fakat halkım her gün ölüyor. Şimdiyse bu korkunç yağmur ve sis baş gösterdi. Halkım sonumuzun geldiğini düşünüyor. Nasıl yardıma ihtiyacımız olmaz?” 
</p>
<p>
  “Yardıma ihtiyacınız yok.” 
</p>
<p>
  Halkının kurtuluşunu sağlamakta kararlı olan Kral yalvardı. “Fakat siz güçlüsünüz! Siz dilerseniz herşey yoluna girebilir. Biz sizin aciz kullarınız.” 
</p>
<p>
  “Kullar da felaketlerden nasibini alır, siz benim kullarım olacaksınız. Bugün dualarınızı kabul etmek için değil sonunuzun yaklaştığını haber vermek için ortaya çıktım.” 
</p>
<p>
  Kral öfkelenmeye başladı. Tanrı’ya bağırma cüretini göstererek “Eğer bize yardım etmeyecekseniz biz o sonu hep birlikte karşılayacağız.” dedi. 
</p>
<p>
  Tanrı çoktan gitmişti. Kral hangi Tanrı ile konuştuğunu bile bilmiyordu. Ona cevap veren Logos muydu? Yoksa Akara ya da Pathos- Cypher mı?
</p>
<p>
  Yedi uzun yıl boyunca ölmeyen yaratıklar ve canavarlarla savaştılar. Kral Manes, yıllarca dualarına kulak vermeyen, olanlara seyirci kalan tanrılara yakarıp durdu. İnsanlar hala direniyor hatta güçlenmeye başlıyordu. 
</p> 

  <h1>6. Şovalyelere Haber Salın
    </h1>
  <p>
  “Yapabileceğimiz bir şey mutlaka vardır” dedi konsey 
  üyelerinden biri, alnındaki teri silerek. 
</p>
<p>
  Yanında duran başka bir üye esnemesini güçlükle bastırdı. 
  Vakit öğleyi geçmişti; liderler, Tanrı’nın Kral’a karşılık 
  verdiği dün geceden beri aynı konuyu tartışıyordu. 
</p>
<p>
  Planisad şehrinden bir Lord ayağa kalkıp söz aldı ve şehre yaklaşan yeşil sisten kurtulmak için kaçmayı önerdi. “Burada kalıp o korkunç, tüyler ürpertici sisin bizi yutmasını bekleyemeyiz.” dedi. 
</p>
<p>
  Keşfe gönderilenlerden geri dönen olmamıştı, bu nedenle Lord hala vakitleri varken kaçmanın en iyisi olduğuna inanıyordu. 
</p>
<p>
  Diğerleri öneriye itiraz etti, çünkü herkesi şehirden çıkarmak günler sürerdi ve şehrin güvenli duvarlarının dışında kaçmaya çalışırken sise yakalanma ihtimalini göze alamazlardı. 
</p>
<p>
  Cesur bir Erenion “Tanrı’yı öldürürsek herşey düzelir.” diye atıldı elini havaya savurarak. O sırada kadehini doldurmakta olan zayıf hizmetkarı neredeyse deviriyordu. 
</p>
<p>
  Bir Barbar “Evet.” diye bağırarak onayladı. “Daha önce de kaçtık ama buraya gelip direndiğimiz için kurtulabildik. Daha önce de savaştık, yine savaşalım. Savaşalım. Bırakın gelsinler.” 
</p>
<p>
  Konsey kargaşa içindeydi. Tanrı ile savaşma önerisi ilk kez sunulmuyordu. Çoğu tek çözümün bu olduğunu düşünse de hiçbiri savaşmaya istekli değildi. 
</p>
<p>
  “Sen delirdin mi?” diye bağırdı biri. “Cypher bir TANRI!” 
</p>
<p>
  “Tanrı olan Pathos, aptal! Gözünü aç!” 
</p>
<p>
  Soylu olmayan üyelerden biri, kendisi başka yararlı özelliklerinden çok kitap okumasıyla bilinirdi, “ Ben bu olayın arkasında başka bir Tanrı olduğundan şüpheleniyorum.” dedi. 
</p>
<p>
  Kral ayağa kalkıp konseye seslendi. “Kalacağız, fakat savaşmayacağız. Şövalyelere haber salın.”
</p>
<h1>
  7. Düş
</h1>
<p>
  Atlı şövalyeler halkın sevinç çığlıkları eşliğinde kalenin 
  kapısından içeri girdi. Kurtarıcılar, efsanenin kahramanları 
  gelmişti. Keskin kılıçları ve parlak zırhları ile eski 
  hikayelerdeki kahramanları andırıyorlardı. Onları gören 
  hiç kimse yenilebileceklerine inanmazdı. 
</p>
<p>
  Yaklaşık üç yüz şövalye Tanrı’yı aramaya koyuldu. Efsaneye göre, tanrılardan biri çok uzun zaman önce yaptığı camdan bir tapınakta yaşıyor ve tüm ihtiyaçları inananları tarafından karşılanıyordu. 
</p>
<p>
  Ellerinde çocuklara anlatılan hikayelerden başka ipucu olmayan şövalyeler atlarını vahşi ormanlara sürdüler. Nadiren karşılarına çıkan bir kaç kötü yaratığı öldürerek yollarına devam ettiler. Şövalyelerin her zaman avladığı bütün o kötü yaratıklar birdenbire ortadan kaybolmuş gibiydi. 
</p>
<p>
  Bir gece şövalyelerin üzerine ağır bir yorgunluk çöktü ve hepsi derin uykuya daldı. Düşlerinde vadinin kıyısında insanların bulunduğu bir yer gördüler. Bazıları, uykunun tesiriyle, aradıkları yere geldiklerini sandı. Yaklaştıkça, insanların yüzündeki umutsuzluğu, yorgunluğu ve tarifsiz kederi gördüler. Düş gören şövalyeler gerçeğe uyanmaya başlamıştı. Burası Tanrı’nın eviydi, insanlar da ona tapan inananlar değil Tanrı’nın köleleriydi. Tapınağa iyice yaklaştıklarında görmedikleri halde varlığını hissettikleri bir el görüşlerini kapattı. Böylece rüyadan uyandılar, ama sabaha dek yerlerinden ayrılmadılar. 
</p>
<p>
  Gördükleri rüya yüzünden tedirgin olsalar da şövalyeler hala son derece kararlıydı. Üstelik yeni bilgiler edinmişlerdi. Batıya doğru harekete geçtiler, aradıkları yerin o yönde olduğunu biliyor gibiydiler. Rüyanın etkisiyle zihinlerinde ve kalplerinde uzun zaman önce unutulmuş bir dua dillenmeye başladı. 
</p>
<p>
  Biz senin çocuklarınız
  Uzun zaman unutmuş olsan da 
  Terketme bizi asla.
</p>  
 <h1> 
  8. Tanrı İle Yüzleşme
  </h1>
<p> 
  Şövalyeler, durmaksızın, günlerce at sürdüler. Ne kendileri 
  ne de atları açlık ya da yorgunluk hissediyordu. Hepsi 
  rüya sayesindeydi. Ve dua.. Onlara güç vermişti. 
  O muhteşem manzara ile karşılaşıncaya dek yola devam 
  ettiler. Karşılarında elmas gibi parıldayan muazzam bir 
  tapınak duruyordu. Rüyalarında görmüş olmaları bile 
  onları bu göz alıcı manzaraya hazırlamamıştı. 
</p> 
<p> 
  Ancak tapınakla aralarında aşılmaz bir engel vardı. Gözle görünür bir engel değilse de atlar bir noktadan sonra ilerlemeyi reddediyordu. Atlarından inen şövalyeler bile o görünmeyen sınırın ötesine geçmeyi başaramıyordu. Sanki sınıra yaklaşınca onun ötesine geçme isteği kayboluveriyordu. 
</p> 
<p> 
  Öğlen olduğunda hala karşıya geçebilen kimse yoktu, etraflarında bazı değişiklikler beliriyordu. Onları çevreleyen ormanlar ve çimenler tıpkı bir serap gibi kayboluyordu. Toprak hızla kuruyor ve çatlıyordu. Derken, üzerinde durdukları toprak ansızın ikiye ayrıldı ve şövalyeler açılan büyük yarığın içine düştü. 
</p> 
<p> 
  Pek çoğu yaralandı, bazıları öldü. Hayatta kalanlarsa kendilerini, önceden karşılaştıkları ya da ilk kez gördükleri türlü canavarla dolu bir mağarada buldu. Ormandaki tüm kötü yaratıkların geldiği yer burasıydı. 
</p> 
<p> 
  Yaratıkların üzerinde Pathos- Cypher duruyordu. 
</p> 
<p> 
  Tanrının bir kafa işaretiyle tüm yaratıklar şövalyelere doğru saldırıya geçti. Şövalyeler ellerindeki kalkanları gövdelerine siper ederek daire oluşturdular, böylece hem düşmanı olabildiğince uzak tutacak hem de dairenin içindeki yaralı ve şifacıları koruyabileceklerdi. Şövalyeler usta savaşçılardı, ancak savaş ilerleyip sayıları azaldıkça amansız düşmanlarının saldırılarının sonu gelmeyecek gibi görünüyordu. 
</p>  
<p>  
  Şövalyelerin sayısı ellinin altına indiğinde canavarlar saldırmayı bıraktı. Pathos-Cypher yaklaşırken onlar geri çekildi. Tanrı, sonlarına kavuşmadan evvel, ölümlülerin kendisini görmesini istiyordu. Tanrı’yı ilk kez yakından gören şövalyeler onun gerçekte nasıl göründüğünü öğrendiler. Devasa cüssesine rağmen yaşlı bir adamdan biraz halliceydi. Şövalyelerin beklediği gibi gaddar bir savaşçıyı andırmıyordu. 
</p> 
<p> 
  Tanrı, “Hoş geldiniz, Şövalyeler. Yorgun olmalısınız.” diyerek onlarla alay etti. 
</p> 
<p> 
  Şövalyeler karşılık vermedi. Onun yerine, kılıç kullanmakta usta olanlar seçtikleri hedefe doğru kılıçlarını savurdu. Mistik savaşçı güçlerine sahip olan şövalyeler son bir karşı saldırı için tüm güçlerini kullandı, yaratıkların üzerine alev ve yıldırım yağdırmaya başladılar. Saldırı o kadar şiddetliydi ki Pathos-Cypher canavarların ölümünü seyretmekten başka bir şey yapamadı. İnsanlar yenilmişti belki ama, ayakta tek bir canlı yaratık bırakmamışlardı. Hala hayatta olanlar yaratıklar da kan içinde çaresizce yerde yatıyordu. Şövalyeler Pathos- Cypher’ın etrafını çevirdi. 
</p> 
<p> 
  Yalnızca fiziksel güç ve birazcık sihirle bir Tanrı’yı mağlup etmeye çalışmak düpedüz delilikti. Yine de denemeleri gerekiyordu.
</p> 
<h1>
  9. Tanrı İle Yüzleşme
</h1>
<p>
  Pathos-Cypher kendisinin şövalyelerin kılıcından ve büyülerinden 
  daha güçlü olduğunu biliyor ve korkmuyordu. 
  Elinin bir hareketi ile öldürülen şövalyelerin cesetleri 
  canlandı ve bir zamanlar kardeşi oldukları savaşçıların 
  üzerine saldırdı. İlk zombi kılıcını kavradığında 
  hayatta olan Şövalyelerin zihninde bir dua canlandı. 
</p>
<p>
  Yeniden, rüyada öğrendikleri duayı okumaya başladılar. 
</p> 
<p>
  Biz senin çocuklarınız
  Uzun zaman unutmuş olsan da 
  Terketme bizi asla. 
</p>
<p>
  Öldürülen kardeşleri birer birer canlanıyor ve onlara karşı silahlanıyordu. Şövalyeler, hayatlarında ilk kez hem böylesine korkuyor hem de böylesine umut besliyordu. Dua etmeyi sürdürdüler. 
</p>
<p>
  Biz senin çocuklarınız
  Uzun zaman unutmuş olsan da 
  Terketme bizi asla. 
</p>
<p>
  Ağızlarından dökülen sözcükler mağara duvarlarında yankılanıyordu. 
</p>
<p>
  Seninle yeniden bir olduk biz
  Artık duyabilirsin sesimizi,
  Dualarımıza kulak ver. 
</p>
<p>
  Dualara kulak asmayan Pathos-Cypher daha şiddetli saldırdı, şövalyeler hala direniyordu. 
</p>
<p>
  Sona yaklaşmaktayken,
  Ezele kavuşmayı arzuluyoruz,
  Bizi evimize kabul et. 
</p>
<p> 
  Gökyüzünde yıldırım gibi bir ışık belirdi. Yaratıcı Logos kutsal yayını çıkardı ve kurtuluş için edilen dualardan aldığı yaşam enerjisi ile dolu sihirli okunu fırlattı. Ok, inançsız Pathos- Cypher’ın kötü kalbinden saplandı. 
</p>
<p>
  Pathos- Cypher son nefesini verirken Şövalyeleri lanetledi. “Bana eziyet eden herkes benim siyah kanımla lanetlensin!” 
</p>
<p>
  Logos’un korumadığı gözleri kör edecek bir parlaklıkla Pathos- Cypher ışığa karıştı ve mistik boşluğa gönderildi. 
</p>
<p>
  Sevgi dolu iki ses duyuldu sonra. “Çok uzun zamandır size kavuşmak, size dönmek için yol alıyorduk. Eve hoş geldiniz.” 
</p> 
<p>
  Bazı şövalyelerin dudaklarından şu isim döküldü: “Logos.” 
</p>
<p>
  İçlerinden bazıları farklı bir ismi mırıldandı. “Akara.”
</p>
<h1>
  10. Tuarekler ve Gerçekler
</h1>
<p>
  Pathos- Cypher’ın ölümü ile kızıl yağmur dindi, yeşil 
  sis dağıldı. Zafer kazanan şövalyeler El Morad’ı 
  kutlama yaparken bulmak umuduyla evlerine döndüler. 
  Yedi yıl süren savaş nihayet onların zaferi ile noktalanmıştı. 
  Ulu şövalyelerin hikayeleri insanlar arasında çabucak 
  yayılmıştı. Logos ve Akara adına tapınaklar inşa edildi. 
  Alimler bu iki Tanrı’yı neyin biraraya getirdiğini tartışıyordu. 
  Bu birliğin gerçekleşmesini sağlayan ne olmuştu? 
</p>
<p> 
  İnsanlık yeniden gelişmeye başladı ve herkes Pathos- Cypher’ın korkunç lanetini unuttu. 
</p>
<p>
  Artık barış sağlanmıştı, insanlar şehirlerden ayrılmaya başlamıştı. Başlarda, bir zamanlar onları koruyan duvarların ve siperlerin yakınında küçük çiftlikler kuruldu. Ardından ekilen alanlar genişlemeye, çeşit çeşit mahsuller yetiştirilmeye başlandı. Çiftçilere destek olmak için köyler kuruldu. Nüfus bu yerleşim birimlerine doğru yayıldı ve medeni dünya hızla büyüdü. 
</p>
<p>
  Ancak, El Morad topraklarında barış uzun sürmeyecekti. 
</p>
<p>
  Yeni bir hayata başlayan şövalyeler çocuk sahibi de oldular.. bu çocuklar Pathos- Cypher’ın lanetli siyah kanını taşıyordu. 
</p>
<p>
  Siyah kandaki kötülük insanları hastalanmasına yol açtı ve krallıkta salgın hastalık baş gösterdi. Salgının sebebini öğrenen insanlar öfkeden deliye döndü. Etrafa korku salan bu çirkin çocuklardan bazıları ormana terk edildi, bazıları insanlardan saklanmak için şehrin karanlık, ıslak lağım borularına sığındı. Bu lanetli çocuklara Tuarekler adı verildi. 
</p>
<p>
  El Morad rahipleri, Tuarek’lerin kötü olduğuna inanarak onları esir aldı. Şövalyelerin çocukları, ailelerinin kurtardığı şehirde, El Morad’da birer esir olarak yaşıyordu. 
</p>
<p> 
  Kısa bir süre sonra, Tuareklerden biri cesaret gösterip diğerlerine öncülük etmeye başladı. Sürekli korku ve utanç içinde yaşamak zorunda olmayacakları bir yerde toplanmaları için mücadele ediyordu. Tuareklere savaşmayı ve vahşi doğada nasıl hayatta kalacaklarını öğretti. Tuareklerin ruhani lideri olan bu kahramanın adı Zignon’du. Zignon önderliğindeki Tuarekler kuzeye doğru yol koyuldu. Yol boyunca, Pathos’un hala hayatta olan hizmetkarları ve onları takip eden El Morad askerleri ile savaşmak zorunda kaldılar. 
</p>
<p>
  Çoğu zaman açlıkla ve soğuk hava şartları ile mücadele ederek kuzeye doğru giden Zignon’u takip ettiler. Dünyanın sonu olduğu söylenen Eslant dağlarını aştılar. Dağlardaki buzlu platoda Luferson Kalesi bulunuyordu. Burası Pathos’un yıkıma başladığı yerdi ve El Morad askerlerinden korunmak için uygundu, bu nedenle Zignon, Luferson Kalesi etrafına bir krallık kurdu. Krallığa, Karus ulusu adını verdi. Zorlu iklim koşullarına uyum sağlayamayan pek çok Tuarek burada hayatını kaybetti, hayatta kalanlar kendilerini böyle sefil bir yere getirdiği için Zignon’a öfke duyuyordu. 
</p>
<p> 
  Zignon, Tuarekleri kurtarması için Logos’a yalvardı, ancak Logos ona yanıt vermedi. Çünkü değişim geçiren bu yaratıkları Logos yaratmamıştı, o sadece insanları yaratmıştı. İnsanların çocukları ve kahraman şövalyelerin torunları oldukları halde Tuarekler gözden çıkarılmış ve yüz üstü bırakılmışlardı. 
</p>
<p>
  Zignon’un dualarına cevap veren bir Tanrı oldu. İsmini söylemedi, gülümsemekle yetindi ve Zignon’a şöyle dedi, “Sonunda hayallerim gerçek oldu, artık benim de kendi çocuklarım var.” 
</p>
<p>
  Gizemli Tanrıça’nın desteğini alan Zignon, El Morad’ı devirmek, kendisinin ve arkadaşlarının katlanmak zorunda kaldığı aşağılanmayı ve baskıyı onlara da yaşatmak için intikam yemini etti. 
</p>
<p> 
  Sonsuz Savaş böylece başlamış oldu.
</p>

<div class="row justify-content-md-center" style="padding-top:15px">
    <button class="text-center" style="margin-bottom:15px; font-weight: bolder" routerLink="/" class="btn btn-custom">Ana Sayfaya Dön!</button>
</div>
</div>
