.container{
    margin-left:auto;
    padding:50px;
    background-color:#ffffff4a;
    position: relative;
}

h1{
    color:black;
    font-weight: bold;    
}

p{
    color:#d8c489;
    font-weight: 600;
}

.btn-custom{
    background-color:#d8c489;
    color: black;
}