<div class="center-body">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mx-auto">
        <div class="panel panel-outer">
          <div class="panel-body">
            <div class="text-center">
              <h3>
                <i class="fa fa-lock fa-4x"></i>
              </h3>
              <h3 class="text-center">Şifrenizi mi unuttunuz ?</h3>
              <p>Mailinizi yazın size yeni bir şifre gönderelim.</p>
              <div class="panel-body">
                <div class="form-group">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="icon-envelope-open"></i>
                      </span>
                    </div>
                    <input type="email" class="form-control" placeholder="e@mail adresiniz">
                  </div>
                </div>
                <input name="recover-submit" routerLink="/dashboard" class="btn btn-lg btn-primary btn-block" value="Şifre Gönder" type="submit">
                <input type="hidden" class="hide" name="token" id="token" value="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!--<div class="center-body ">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="text-center">
              <h3>
                <i class="fa fa-lock fa-4x"></i>
              </h3>
              <h2 class="text-center">Şifrenizi mi unuttunuz ?</h2>
              <p>Mailinizi yazın size yeni bir şifre gönderelim.</p>
              <div class="panel-body">

                <form id="register-form" role="form" autocomplete="off" class="form" method="post">

                  <div class="form-group">
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="glyphicon glyphicon-envelope color-blue"></i>
                      </span>
                      <input id="email" name="email" placeholder="email adresiniz" class="form-control" type="email">
                    </div>
                  </div>
                  <div class="form-group">
                    <input name="recover-submit" class="btn btn-lg btn-primary btn-block" value="Şifre Gönder" type="submit">
                  </div>
                  <input type="hidden" class="hide" name="token" id="token" value="">
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
