<div class="container">
  <div class="col-md-12">
    <table datatable [dtOptions]="dtOptions" style="color: white" [dtTrigger]="dtTrigger" class="row-border hover">
      <thead>
        <tr>
          <th width="20%" style="text-align: center">Sıra</th>
          <th width="20%" style="text-align: center">National point</th>
          <th width="20%" style="text-align: center">Nickname</th>
          <th width="20%" style="text-align: center">Level</th>
          <th width="20%" style="text-align: center">Nation</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of userlist; let i=index">
          <td style="text-align: center;color: black; font-weight: bold">{{i+1}}</td>
          <td style="text-align: center;color: black; font-weight: bold">{{item?.nationalPoint}}</td>
          <td style="text-align: center;color: black; font-weight: bold">{{item?.nickname}}</td>
          <td style="text-align: center;color: black; font-weight: bold">{{item?.characterLevel}}</td>
          <td class="{{item?.nation}}">{{item?.nation}}</td>
        </tr>
      </tbody>
    </table>
    </div>
    <div class="row justify-content-md-center" style="padding-top:15px">
        <button class="text-center" style="margin-bottom:15px; font-weight: bolder" routerLink="/" class="btn btn-custom">Ana Sayfaya Dön!</button>
    </div>
</div>