.container{
    margin-left:auto;
    padding:50px;
    background-color:#ffffff4a;
    position: relative;
}

.Human{
    color:red;
    text-align: center;    
    font-weight: bold;
}

.Karus{
    color:blue;
    text-align: center;
    font-weight: bold;
}

// .dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
//     color: #d8c489 !important;
// }

.btn-custom{
    background-color:#d8c489;
    color: black;
}