<div class="container">
  <div class="row animated fadeInUp fast">
    <div class="col-md-6">
      <div class="card ">
        <div class="card-header">
          <i class="icon-briefcase"></i> Şifre Değiştir
          <div class="card-header-actions">
            <span class="card-header-action">
            </span>
          </div>
        </div>
        <div class="card-body">
          <fieldset class="form-group">
            <label>Eski Şifre</label>
            <div class="input-group">
              <span class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-angle-right" ></i>
                </span>
              </span>
              <input type="text" class="form-control" [(ngModel)]="changepass.oldPassword" placeholder="Eski Şifre">
            </div>
          </fieldset>
          <fieldset class="form-group">
            <label>Yeni Şifre</label>
            <div class="input-group">
              <span class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-angle-right" ></i>
                </span>
              </span>
              <input type="text"  class="form-control" [(ngModel)]="changepass.newPassword" placeholder="Yeni Şifre">
            </div>
          </fieldset>
          <fieldset class="form-group">
            <label>Yeni Şifre Tekrar</label>
            <div class="input-group">
              <span class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-angle-right"></i>
                </span>
              </span>
              <input type="text" class="form-control" [(ngModel)]="password" placeholder="Yeni Şifre Tekrar">
            </div>
          </fieldset>
          <button type="button" class="btn btn-danger btn-lg btn-block" (click)="kaydet()">Kaydet</button>

        </div>
      </div>
    </div>
  </div>
</div>
